<html>
<head>
	
	<title>MyMap</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.min.js" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div id="map" v-bind:style="{width: width, height: height}"></div>

<div id="hidebarb">
<div id="hidebar">
	<div id="timeline" v-if="show.n == 'timeline'">
		<hr>
		<div class="caption">
		<div>Timeline</div>
		<div><a href="#" v-on:click="closeTimeline($event)" align="right"><img src="img/close.svg"></a></div>
		</div>
		<div v-if="state != 'ready'">
			<small>{{state}}...</small>
		</div>
		<table id="visitable">
		<tr v-for="(vis, idx) in visited">
			<td align="right">{{vis.date}}</td>
			<td><a href="#" v-on:click="highlightPoint($event, vis.pt)"><img src="img/locate.svg"></a></td>
			<td width="100%">{{vis.pt.name}}</td>
			<td>{{vis.tags.join(" ")}}</td>
		</tr>
		</table>
	</div>
	<div id="points" v-if="show.n == 'points'">
		<hr>
		<div class="caption">
		<div>Points
			<a href="#" v-on:click="hide.toggle($event)">
				<img v-if="hide.i == 0" src="img/show.svg">
				<img v-if="hide.i == 1" src="img/hide.svg">
			</a>
		</div>
		<div><a href="#" v-on:click="closePoints($event)" align="right"><img src="img/close.svg"></a></div>
		</div>
		<ul>
			<li v-for="(bkt, tag) in loaded">
				{{tag}} <small>[{{Object.keys(bkt).length}}]</small>
				<ul>
				<li v-for="pnt in bkt">
					<a href="#" v-on:click="highlightPoint($event, pnt)"><img src="img/locate.svg"></a>
					{{pnt.name}}
					<a href="#" v-on:click="removePoint($event, pnt)"><img src="img/remove.svg"></a>
				</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="areas" v-if="show.n == 'areas'">
		<hr>
		<div class="caption">
		<div>Areas</div>
		<div><a href="#" v-on:click="closeAreas($event)" align="right"><img src="img/close.svg"></a></div>
		</div>
		<ul>
			<li v-for="area in loaded">
				{{area.name}}
				<span v-if="area.state != 'ready'">
					<small>{{area.state}}...</small>
				</span>
				<span v-if="area.state == 'ready'">
					<a href="#" v-on:click="removeArea($event, area)"><img src="img/remove.svg"></a>
				</span>
			</li>
		</ul>
	</div>
</div>
</div>

<div id="sidebarb">
<div id="sidebar">
	<div id="menu">
		<div id="login"><a href="/login" v-if="sess == null">login</a></div>

		<div id="other">
			<a href="#" v-on:click="showTimeline($event)"><img src="img/timeline.svg"></a>
			<a href="#" v-on:click="showPoints($event)"><img src="img/points.svg"></a>
			<a href="#" v-on:click="showAreas($event)"><img src="img/areas.svg"></a>
		</div>
	</div>
	<div id="pprops" v-if="point != null">
		<hr>
		<div class="caption">
		<div><img src="img/place.svg"> {{point.name}}</div>
		<div><a href="#" v-on:click="clearPropPoint($event)" align="right"><img src="img/close.svg"></a></div>
		</div>

		<table id="sumtable">
		<tr><td>Id</td><td>{{point.id}}</td></tr>
		<tr><td>Coord</td><td>{{point.lat.toFixed(4)}} / {{point.lng.toFixed(4)}}</td></tr>
		<tr><td>Inside</td><td>{{point.area}}:{{point.countries.join(",")}}</td></tr>
		</table>

		<br><img src="img/visit.svg"><br>
		<input v-model="nvDate" placeholder="dd/mm/yyyy">
		<input v-model="nvTags" placeholder="tag, ...">
		<a href="#" v-on:click="addVisit($event)"><img src="img/add.svg"></a>

		<table id="visitable">
		<tr v-for="(vis, idx) in visited">
			<td align="right">{{vis.date}}</td>
			<td width="100%">{{vis.tags.join(" ")}}</td>
			<td><a href="#" v-on:click="removeVisit($event, idx)"><img src="img/remove.svg"></a></td>
			<td><small>{{idx}}:{{vis.idx}}</small></td>
		</tr>
		</table>
	</div>
	<div id="marker" v-if="latlng != null">
		<hr>
		<div class="caption">
		<div>
			<img src="img/point.svg">
			{{latlng.lat.toFixed(4)}} / {{latlng.lng.toFixed(4)}}
			<small v-if="inside != null">({{inside.area}}:{{inside.countries.join(',')}})</small>
		</div>
		<div><a href="#" v-on:click="clearMarker($event)"><img src="img/close.svg"></a></div>
		</div>
	</div>
	<div id="selection" v-if="available.length != 0">
		<table border=0>
		<tr>
			<td valign="top"><img src="img/area.svg"></td>
			<td>
			<template v-for="area in available">
				<div v-if="show.show(area)">
					<input type="checkbox" v-bind:value="area" v-model="selected">
					<label>{{area.name}} <small>({{area.type}})</small></label><br>
				</div>
			</template>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
			<a href="#" v-on:click="show.toggle($event)">
				<img v-if="show.i == 0" src="img/more.svg">
				<img v-if="show.i == 1" src="img/less.svg">
			</a>
			</td>
		</tr>
		<tr>
			<td valign="top"><img src="img/place.svg"></td>
			<td>
			<input v-model="pointName" placeholder="enter the point name">
			<a href="#" v-on:click="loadSelected($event)"><img src="img/add.svg"></a>
			</td>
		</tr>
		</table>
	</div>
</div>
</div>

<script src="/config.js"></script>
<script src="/main.js"></script>
</body>
</html>
