<html>
<head>
	
	<title>MyMap</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.min.js" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div id="map"></div>
<div id="control">
	<div id="login">
		Not logged in
	</div>
	<div id="marker">
		<div v-if="point != null">
			Current position: {{point.lat.toFixed(4)}} / {{point.lng.toFixed(4)}}<br>
			Countries: {{pointCountries}}<br>
		</div>
		<div v-if="point == null">
			Click on the map
		</div>
	</div>
	<div id="available" v-if="availableAreas.length != 0">
		<hr>Available<br>
		<template v-for="area in availableAreas">
			<input type="checkbox" v-bind:value="area" v-model="selectedAreas">
			<label>{{area.name}} (<small>{{area.type}}</small>)</label><br>
		</template>
		<input v-model="pointName" placeholder="enter the point name">
		<input value="Paint" onclick="loadSelected()" type="button">
	</div>
	<div id="loadedAreas" v-if="nrAreas > 0">
		<hr>Areas<br>
		<ul>
			<li v-for="area in loadedAreas">
				<div v-if="area.state != 'ready'">
					{{area.name}}
					<small>{{area.state}}...</small>
				</div>
				<div v-if="area.state == 'ready'">
					{{area.name}}
					<small><a href="#" v-on:click="removeArea($event, area)">(remove)</a></small>
				</div>
			</li>
		</ul>
	</div>
	<div id="loadedPoints" v-if="nrPoints > 0">
		<hr>Points <input checked="true" onclick="togglePoints()" type="checkbox"><br>
		<ul>
			<li v-for="(bkt, tag) in loadedPoints">
				{{tag}} ({{Object.keys(bkt).length}})
				<ul>
				<li v-for="pnt in bkt">
					{{pnt.name}} <small>({{pnt.lat.toFixed(4)}} / {{pnt.lng.toFixed(4)}})</small>
					<small><a href="#" v-on:click="removePoint($event, pnt)">(remove)</a></small>
				</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<script src="/config.js"></script>
<script src="/main.js"></script>
</body>
</html>
