<html>
<head>
	
	<title>MyMap</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reqwest/2.0.5/reqwest.min.js" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div id="map" v-bind:style="{width: width, height: height}"></div>
<div id="propsb">
<div id="props">
	<div v-if="point != null">
		<div id="summary">
			{{point.name}}
			<small><a href="#" v-on:click="clearProps($event)">(close)</a></small><br>
			<table id="sumtable">
			<tr><td>Id</td><td>{{point.id}}</td></tr>
			<tr><td>Coord</td><td>{{point.lat.toFixed(4)}} / {{point.lng.toFixed(4)}}</td></tr>
			<tr><td>Area</td><td>{{point.area}}</td></tr>
			<tr><td>Countries</td><td>{{point.countries.join(",")}}</td></tr>
			</table>
		</div>
		<hr>
		<div id="visits">
			Visited<br>
			<input v-model="newVisitDate" placeholder="dd/mm/yyyy">
			<input v-model="newVisitTags" placeholder="tag, ...">
			<input value="+" onclick="addVisit()" type="button">
			<table id="visitable">
			<tr v-for="(vis, idx) in visited">
				<td>{{vis.date}}</td>
				<td>{{vis.tags.join(" ")}}</td>
				<td><small><a href="#" v-on:click="removeVisit($event, idx)">(remove)</a></small></td>
			</tr>
			</table>
		</div>
	</div>
</div>
</div>
<div id="sidebarb">
<div id="sidebar">
	<div id="login" align="right">
		<a href="/login" v-if="sess == null">login</a>
	</div>
	<div id="marker">
		<div v-if="latlng != null">
			Marker: {{latlng.lat.toFixed(4)}} / {{latlng.lng.toFixed(4)}}
			<small v-if="inside != null">({{inside.area}}:{{inside.countries.join(',')}})
				<a href="#" v-on:click="clearMarker($event)">(clear)</a></small>
		</div>
	</div>
	<div id="selection" v-if="available.length != 0">
		<hr>Available
			<small><a href="#" v-on:click="show.toggle($event)">{{show.text}}</a></small><br>
		<template v-for="area in available">
			<div v-if="show.show(area)">
				<input type="checkbox" v-bind:value="area" v-model="selected">
				<label>{{area.name}} <small>({{area.type}})</small></label><br>
			</div>
		</template>
		<input v-model="pointName" placeholder="enter the point name">
		<input value="Paint" onclick="loadSelected()" type="button">
	</div>
	<div id="points" v-if="nr > 0">
		<hr>Points
			<small><a href="#" v-on:click="hide.toggle($event)">{{hide.text}}</a></small><br>
		<ul v-if="hide.i == 0">
			<li v-for="(bkt, tag) in loaded">
				{{tag}} <small>[{{Object.keys(bkt).length}}]</small>
				<ul>
				<li v-for="pnt in bkt">
					{{pnt.name}} <small>
						<a href="#" v-on:click="highlightPoint($event, pnt)">(locate)</a>
						<a href="#" v-on:click="removePoint($event, pnt)">(remove)</a></small>
				</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="areas" v-if="nr > 0">
		<hr>Areas
			<small><a href="#" v-on:click="hide.toggle($event)">{{hide.text}}</a></small><br>
		<ul v-if="hide.i == 0">
			<li v-for="area in loaded">
				<div v-if="area.state != 'ready'">
					{{area.name}}
					<small>{{area.state}}...</small>
				</div>
				<div v-if="area.state == 'ready'">
					{{area.name}}
					<small><a href="#" v-on:click="removeArea($event, area)">(remove)</a></small>
				</div>
			</li>
		</ul>
	</div>
</div>
</div>

<script src="/config.js"></script>
<script src="/main.js"></script>
</body>
</html>
