<html>
<head>
	
	<title>MyMap</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
	<link rel="manifest" href="/static/img/site.webmanifest">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>

<div id="map" v-bind:style="{width: width, height: height}"></div>

<div id="hidebarb">
<div id="hidebar">
	<div id="timeline" v-if="show.n == 'timeline'">
		<hr>
		<div class="right">
			<a href="#" v-on:click="closeTimeline($event)" align="right"><img src="static/img/close.svg"></a>
		</div>

		Timeline
		<div v-if="state != 'ready'">
			<small>{{state}}...</small>
		</div>
			<a href="#" v-on:click="selectCountry($event, '')">
				<flagimg v-bind:country=sc></flagimg>
			</a>
		<table id="visitable">
		<tr v-for="(vis, idx) in visitedS">
			<td align="right"><small>{{vis.date}}</small></td>
			<td><rateimg v-bind:rt=vis.rating></rateimg></td>
			<td><a href="#" v-on:click="highlightPoint($event, vis.pt)"><img src="static/img/locate.svg"></a>
			{{vis.pt.name}}</td>
			<td>
				<template v-for="c in vis.pt.countries">
					<a href="#" v-on:click="selectCountry($event, c)">
					<flagimg v-bind:country=c></flagimg>
					</a>
				</template>
			</td>
			<td>{{vis.tags.join(" ")}}</td>
		</tr>
		</table>
	</div>
	<div id="ratings" v-if="show.n == 'ratings'">
		<hr>
		<div class="right">
			<a href="#" v-on:click="closeRatings($event)" align="right"><img src="static/img/close.svg"></a>
		</div>

		Ratings
		<div v-if="state != 'ready'">
			<small>{{state}}...</small>
		</div>
			<a href="#" v-on:click="selectCountry($event, '')">
				<flagimg v-bind:country=sc></flagimg>
			</a>
		<table id="visitable">
		<tr v-for="(pt, idx) in pointsS">
			<td><rateimg v-bind:rt=pt.irating></rateimg><small>{{pt.rating}}</small></td>
			<td><a href="#" v-on:click="highlightPoint($event, pt.pt)"><img src="static/img/locate.svg"></a>
			{{pt.pt.name}}</td>
			<td>
				<template v-for="c in pt.pt.countries">
					<a href="#" v-on:click="selectCountry($event, c)">
					<flagimg v-bind:country=c></flagimg>
					</a>
				</template>
			</td>
		</tr>
		</table>
	</div>
	<div id="points" v-if="show.n == 'points'">
		<hr>
		<div class="right">
			<a href="#" v-on:click="closePoints($event)" align="right"><img src="static/img/close.svg"></a>
		</div>
		Points
		<a href="#" v-on:click="hide.toggle($event)">
			<img v-if="hide.i == 0" src="static/img/show.svg">
			<img v-if="hide.i == 1" src="static/img/hide.svg">
		</a>
			<a href="#" v-on:click="sortedN.toggle()">
				<img v-if="sortedN.i == 0" src="static/img/unsort.svg">
				<img v-if="sortedN.i == 1" src="static/img/sort.svg">
				<img v-if="sortedN.i == 2" src="static/img/sort-r.svg">
			</a>
		<table border=0>
			<tr v-for="bkt in loadedS">
				<td valign="top" align="right">
				<flaglist v-bind:list=bkt.countries></flaglist>
				<small>[{{bkt.pts.length}}]</small>
				</td>
				<td><table border=0 width="100%">
				<tr v-for="pnt in bkt.pts">
					<td>
					<a href="#" v-on:click="highlightPoint($event, pnt)"><img src="static/img/locate.svg"></a>
					</td>
					<td width="80%">
					{{pnt.name}}
					</td>
					<td>
					<a href="#" v-on:click="removePoint($event, pnt)"><img src="static/img/remove.svg"></a>
					</td>
				</tr>
				</table></td>
			</tr>
		</table>
	</div>
	<div id="areas" v-if="show.n == 'areas'">
		<hr>
		<div class="right">
			<a href="#" v-on:click="closeAreas($event)" align="right"><img src="static/img/close.svg"></a>
		</div>
		Areas
			<a href="#" v-on:click="sorted.toggle()">
				<img v-if="sorted.i == 0" src="static/img/unsort.svg">
				<img v-if="sorted.i == 1" src="static/img/sort.svg">
				<img v-if="sorted.i == 2" src="static/img/sort-r.svg">
			</a>
			<a href="#" v-on:click="preferCountry($event, '')">
				<flagimg v-bind:country=pc></flagimg>
			</a>
		<ul>
			<table border=0>
			<tr v-for="area in loadedS">
				<td align="right">
				<template v-for="c in area.countries">
					<a href="#" v-on:click="preferCountry($event, c)">
					<flagimg v-bind:country=c></flagimg>
					</a>
				</template>
				</td>
				<td>
				<a href="#" v-on:click="highlightArea($event, area)"><img src="static/img/locate.svg"></a>
				</td>
				<td>
				{{area.name}}
				</td>
				<td>
				<span v-if="area.state != 'ready'">
					<small>{{area.state}}...</small>
				</span>
				<span v-if="area.state == 'ready'">
					<a href="#" v-on:click="removeArea($event, area)"><img src="static/img/remove.svg"></a>
				</span>
				</td>
			</tr>
			</table>
		</ul>
	</div>
</div>
</div>

<div id="sidebarb">
<div id="sidebar">
	<div id="menu">
		<div id="login">
			<span v-if="viewmap != null">
				<img src="static/img/show.svg" title="view mode">
			</span>
			<span v-if="sess == null"><img src="static/img/more.svg"></span>
			<span v-if="sess != null">
				<span v-if="sess.user == null">
					<a href="/login"><img src="static/img/login.svg"></a></span>
				<span v-if="sess.user != null">{{sess.user.name}}
					<a href="/logout"><img src="static/img/logout.svg" height=20px></a></span>
			</span>
		</div>

		<div id="other">
			<a href="#" v-on:click="showPoints($event)">
				<img src="static/img/points.svg" title="Points" height=20px></a>
			<a href="#" v-on:click="showAreas($event)">
				<img src="static/img/areas.svg" title="Areas" height=20px></a>
			<span v-if="sess != null && sess.user != null">
				<br>
				<a href="#" v-on:click="showTimeline($event)">
					<img src="static/img/timeline.svg" title="Timeline" height=20px></a>
				<a href="#" v-on:click="showRating($event)">
					<img src="static/img/rating.svg" title="Rating" height=20px></a>
				<span v-if="share != ''">
					<a href="#" v-bind:href="share">
						<img src="static/img/share.svg" title="Link to this map" height=20px></a>
				</span>
				<a href="#" v-on:click="saveAreas($event)">
					<img src="static/img/save.svg" title="Save" height=20px></a>
				<a href="#" v-on:click="loadAreas($event)">
					<img src="static/img/load.svg" title="Load" height=20px></a>
			</span>
		</div>
	</div>
	<div id="status" v-if="message != ''">
		<span v-if="type == 'error'" class="error"> {{message}} </span>
		<span v-if="type == 'warning'" class="warning"> {{message}} </span>
		<span v-if="type == 'info'" class="info"> {{message}} </span>
	</div>
	<div id="pprops" v-if="point != null">
		<hr>
		<div class="right">
			<a href="#" v-on:click="closeProps($event)" align="right"><img src="static/img/close.svg"></a>
		</div>

		<img src="static/img/place.svg"> {{point.name}}
		<flaglist v-bind:list=point.countries></flaglist>

		<table id="sumtable">
		<tr><td>Id</td><td>{{point.id}}</td></tr>
		<tr><td>Coord</td><td>{{point.lat.toFixed(4)}} / {{point.lng.toFixed(4)}}</td></tr>
		<tr><td>Inside</td><td>{{point.area}}:{{point.countries.join(",")}}</td></tr>
		</table>

		<span v-if="visits">
		<br><img src="static/img/visit.svg"><br>
		<input v-model="nvDate" placeholder="dd/mm/yyyy">
		<input v-model="nvTags" placeholder="tag, ..."><br>
		<input v-model="nvRate" type="radio" value=-2><img src="static/img/awful.svg">
		<input v-model="nvRate" type="radio" value=-1><img src="static/img/bad.svg">
		<input v-model="nvRate" type="radio" value=0><img src="static/img/neutral.svg">
		<input v-model="nvRate" type="radio" value=1><img src="static/img/good.svg">
		<input v-model="nvRate" type="radio" value=2><img src="static/img/excellent.svg">
		<a href="#" v-on:click="addVisit($event)"><img src="static/img/add.svg"></a>

		<table id="visitable">
		<tr v-for="(vis, idx) in visited">
			<td align="right">{{vis.date}}</td>
			<td> <rateimg v-bind:rt='vis.rating'></rateimg> </td>
			<td width="100%">{{vis.tags.join(" ")}}</td>
			<td><a href="#" v-on:click="removeVisit($event, idx)"><img src="static/img/remove.svg"></a></td>
			<td><small>{{idx}}:{{vis.idx}}</small></td>
		</tr>
		</table>
		</span>
	</div>
	<div id="marker" v-if="latlng != null">
		<hr>
		<div class="right">
			<a href="#" v-on:click="clearMarker($event)"><img src="static/img/close.svg"></a>
		</div>

		<img src="static/img/point.svg">
		{{latlng.lat.toFixed(4)}} / {{latlng.lng.toFixed(4)}}
		<small v-if="inside != null">({{inside.area}}:{{inside.countries.join(',')}})</small>
	</div>
	<div id="selection" v-if="available.length != 0">
		<img src="static/img/area.svg">
		<template v-for="area in available">
			<div v-if="show.show(area)">
				<input type="checkbox" v-bind:value="area" v-model="selected">
				<label>{{area.name}} <small>({{area.type}})</small></label><br>
			</div>
		</template>
		<a href="#" v-on:click="show.toggle($event)"><img v-if="show.i == 0" src="static/img/more.svg"><img v-if="show.i == 1" src="static/img/less.svg"></a><br>

		<img src="static/img/place.svg">
		<input v-model="pointName" placeholder="enter the point name">
		<a href="#" v-on:click="loadSelected($event)"><img src="static/img/add.svg"></a>
	</div>
</div>
</div>

<script src="/static/config.js"></script>
<script src="/static/main.js"></script>
</body>
</html>
