body {
  font-family:sans-serif;
}

#map {
  position: fixed;
  top:1%;
  left:0;
}

#sidebarb {
  position: absolute;
  top:1%;
  right:0;
  width:25%;
}

#sidebar {
  padding-left: 8px;
  padding-right: 8px;
}

#hidebarb {
  position: absolute;
  top:1%;
  right:25%;
  width:25%;
}

#hidebar {
  padding-left: 8px;
  padding-right: 8px;
}

#sumtable {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #e0e8ff;
  width: 100%;
}

#sumtable td {
  padding: 1px;
}

#visitable {
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid #e0e8ff;
  width: 100%;
}

#visitable td {
  padding: 3px;
}

#menu {
}

#login {
  position: absolute;
  right: 0;
  padding-left: 8px;
  padding-right: 8px;
}
